<form method="post" action="?class=Form&method=salvar">
    <input type="hidden" name="id" value="{id}" />
    <div>
      <label for="paciente">Paciente:</label>
      <input
        type="text"
        name="paciente"
        id="paciente"
        required
        maxlength="50"
        value="{paciente}"
      />
    </div>
    <div>
      <label for="idade">Idade:</label>
      <input
        type="text"
        name="idade"
        id="idade"
        required
        maxlength="50"
        value="{idade}"
      />
    </div>
    <div>
      <label for="diagnostico">Diagnóstico:</label>
      <input
        type="number"
        name="diagnostico"
        id="diagnostico"
        required
        value="{diagnostico}"
      />
    </div>
    <div>
      <button type="submit">Salvar</button>
    </div>
</form>